<% layout('layouts/boilerplate')%>

  <div class="contenedor">
    <div class="row mb-3">
      <h2 class="text-center">BASE DE DATOS ALUMNOS EMPRESAS PRÁCTICAS </h2>
    </div>
    
      <div class="row mb-3 ">
        
          <a href="/alumnos/listadoalumnos" class="btn  btn-primary btn-block ">Alumnos</a>
       
          
      </div>
      <div class="row mb-3">
       
          <a href="/empresas/listadoempresas" class="btn  btn-warning btn-block ">Empresas</a>
      
      </div>
      <div class="row mb-3">
        
          <a href="/alumnos/nuevoalumno" class="btn btn-danger btn-block">Nuevo Alumno</a>
      
      </div>
      <div class="row mb-3">
        
          <a href="/empresas/nuevaempresa" class="btn  btn-primary btn-block ">Nueva Empresa</a>
       
      </div>
   
  </div>
  


